@charset "UTF-8";

body {
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 2em;
	margin-right: 2em;
	width: 600px;
	background-color: #eee;
}

h1,
h2 {
	color: teal;
}

.info-user {
	float: left;
	width: 7em;
	margin-bottom: 0.5em;
	font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"] {
	width: 15em;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}

span {
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}

br {
	clear: both;
}

.btn {
	cursor: pointer;
	min-width: 7.5em;
    height: 2.5em;
}
