@charset "UTF-8";

body {
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 2em;
	margin-right: 2em;
	width: 600px;
	background-color: #eee;
}

h1 {
	font-size: 140%;
	color: teal;
	margin-bottom: .5em;
}

label {
	float: left;
	width: 7em;
	margin-bottom: 0.5em;
	font-weight: bold;
}

input[type="text"],
input[type="email"] {
	width: 20em;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}

span {
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}

br {
	clear: both;
}

.pad_top {
	padding-top: 0.25em;
}

.margin_left {
	margin-left: 0.5em;
}

.mess {
	color: red;
}

.btn {
	cursor: pointer;
	min-width: 7.5em;
	height: 2.5em;
}
