@charset "UTF-8";

/*Header*/
.logo {
	display: flex;
	justify-content: space-between;
}

/*Section*/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	margin-left: 2em;
	margin-right: 2em;
	background-color: #eee;
}

.section-exercise {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-exercise-btn {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.section-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.img-avatar {
	width: 236px;
	border-radius: 12px;
}

h1,
h2 {
	color: teal;
}

.course-name {
	margin-top: 10px;
	margin-bottom: 20px;
}

a {
	display: block;
	color: #000;
	text-decoration: none;
	margin: 8px 8px;
}

.card {
	box-sizing: border-box;
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
	transition: 0.5s;
}

.card:hover {
	cursor: pointer;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.card:hover .card-week {
	font-size: 22pt;
}

.card-week {
	display: flex;
	background-color: #0d8fdb;
	height: 160px;
	min-width: 160px;
	align-items: center;
	justify-content: center;
	color: #fff;
	transition: 0.5s;
}

.card-desc {
	display: flex;
	height: 60px;
	align-items: center;
	justify-content: center;
}

.week-btn {
	cursor: pointer;
	border-radius: 8px;
	min-width: 80px;
	height: 40px;
}

.week-btn:hover {
	background-color: #ccc;
}

/*footer*/
.footer {
	display: flex;
	justify-content: center;
	min-height: 100px;
}

.social-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	padding: 0px;
}

.social-icon__item {
	list-style: none;
}

.social-icon__link {
	transition: 0.5s;
}

.social-icon__link:hover {
	transform: translateY(-10px);
}

.footer img {
	width: 40px;
}

/*Ipad*/
@media only screen and (min-width: 48em) and (max-width: 63.99375em) {

	.section-info {
		display: grid;
		justify-content: center;
	}
}

/*Moblie*/
@media only screen and (max-width: 47.99375em) {

	body {
		font-size: 10pt;
	}

	.logo {
		display: none;
	}

	.course-name {
		font-size: 19pt;
	}

	.section-info {
		display: grid;
		justify-content: center;
	}

	.img-avatar {
		width: 200px;
	}
	
	.card-week {
		height: 60px;
		min-width: 200px;
		font-size: 16pt !important;
	}
	
	.card-desc {
		height: 40px;
	}
}