@charset "UTF-8";

/*Header*/
.logo {
	display: flex;
	justify-content: space-between;
}

/*Section*/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	margin-left: 2em;
	margin-right: 2em;
	background-color: #eee;
}

.section-exercise {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-exercise-btn {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.section-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.img-avatar {
	width: 236px;
	border-radius: 12px;
}

.course-name {
	color: teal;
	margin-top: 10px;
	margin-bottom: 20px;
}

a {
	display: block;
	color: #000;
	text-decoration: none;
	margin: 8px 8px;
}

.card {
	box-sizing: border-box;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
	transition: 0.5s;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.card:hover {
	cursor: pointer;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.card:hover .card-week {
	font-size: 22pt;
}

.empty-card:hover .card-week {
	background-color: #dc3545;
}

.card-week {
	display: flex;
	background-color: #0d8fdb;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	height: 160px;
	min-width: 160px;
	align-items: center;
	justify-content: center;
	color: #fff;
	transition: 0.5s;
}

.card-desc {
	display: flex;
	height: 60px;
	align-items: center;
	justify-content: center;
}

/*footer*/
.footer {
	display: flex;
	justify-content: center;
	min-height: 100px;
}

.social-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	padding: 0px;
}

.social-icon__item {
	list-style: none;
}

.social-icon__link {
	transition: 0.5s;
}

.social-icon__link:hover {
	transform: translateY(-10px);
}

.footer img {
	width: 40px;
}

/*Pc*/
@media only screen and (min-width: 64em) {
	.marquee {
		display: none;
	}

	.card {
		position: relative;
		z-index: 0;
	}

	.card::after {
		content: "Không có bài tập";
		display: block;
		position: absolute;
		z-index: -1;
		bottom: calc(100% - 26px);
		min-width: 160px;
		box-sizing: border-box;
		padding: 4px 6px;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		background-color: #0d8fdb;
		color: #fff;
		font-size: 15px;
	}

	.empty-card:hover .card-week {
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
	}

	.empty-card:hover::after {
		transform: translateY(-26px);
		background-color: #dc3545;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	}

	.empty-card::after {
		transition: 0.5s;
	}
}

/*Ipad*/
@media only screen and (min-width: 48em) and (max-width: 63.99375em) {

	.marquee {
		display: none;
	}

	.section-info {
		display: grid;
		justify-content: center;
	}

	.card-week {
		font-size: 20pt !important;
	}
}

/*Moblie*/
@media only screen and (max-width: 47.99375em) {

	.marquee {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16pt;
		color: teal;
	}

	body {
		font-size: 10pt;
	}

	.logo {
		display: none;
	}

	.course-name {
		font-size: 19pt;
	}

	.section-info {
		display: grid;
		justify-content: center;
	}

	.img-avatar {
		width: 200px;
	}

	.card-week {
		height: 60px;
		min-width: 200px;
		font-size: 16pt !important;
	}

	.card-desc {
		height: 40px;
	}
}