@charset "UTF-8";

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	margin-left: 2em;
	margin-right: 2em;
	background-color: #eee;
}

.logo {
	display: flex;
	justify-content: space-between;
}

.section-exercise {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-exercise-btn {}

.section-info {
	display: flex;
	justify-content: space-between;
    align-items: center;
}

h1,
h2 {
	color: teal;
}

a {
	display: block;
	padding: 12px;
	color: #000;
	text-decoration: none;
}

.weak-btn {
	border-radius: 8px;
	margin: 0px;
	padding: 0px;
}

.weak-btn:hover {
	background-color: #ccc;
}